.actions-block {
  position: relative;

  &__btn {
    font-size: inherit;
    letter-spacing: 1px;
    background: none;
    border: none;
    transform: translateY(-4px);
    transition: color .5s;

    &:hover {
      cursor: pointer;
      color: darken($config__c_yellow, 50%);
    }
  }

  &__wrap {
    // display: none;
    position: absolute;
    top: 30px;
    left: 5px;
    padding: 10px 20px;
    background-color: $config__c_white;
    box-shadow: 0 0 5px 0 $config__c_gray_middle;
    width: 240px;
    border-radius: $config__brd_main;
  }

  &__group {
    padding: 10px 0;
    border-bottom: 1px solid $config__c_gray_light;

    &:last-child {
      border-bottom: none
    }
  }

  &__item {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: inherit;
    margin-bottom: 5px;
    transition: color .4s;

    &:hover {
      cursor: pointer;
      color: darken($config__c_yellow, 50%);
    }
  }
}
