// ================== colors =====================

$config__c_gray_light: #d1d7d7;
$config__c_gray_middle: #a9b3b4;
$config__c_gray_dark: #8b9b9b;
$config__c_yellow: #f3fed9;
$config__c_white: #fff;
$config__c_black: #000;

// =================== fonts ========================

$config__f_Montserrat: 'Montserrat', sans-serif;

// ================== Congig ========================
$config__fs_main: 18px;
$config__brd_main: 4px;
