// ================== colors =====================

$config__c_gray_light: #d1d7d7;
$config__c_gray_middle: #a9b3b4;
$config__c_gray_dark: #8b9b9b;
$config__c_blue: #8cb1b9;
$config__c_white: #fff;
$config__c_black: #000;

// =================== fonts ========================

$config__f_Montserrat: 'Montserrat', sans-serif;
