@import '_variables.scss';


body {
  font-family: $config__f_Montserrat;
  font-size: $config__fs_main;
  line-height: 24px;
  box-sizing: border-box;
  font-weight: 400;
  background-color: #f3fed9;
}

* {
  box-sizing: inherit;
  outline-color: transparent;
}

@import '_all.scss';
